/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-uni-blocks-promo {
  .overlayButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 100;
  }
}
.uni_promotion_align_right {
  text-align: right;
  align-items: flex-end;
}
.uni_promotion_top_text {
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 18;
}
.uni_promotion_terms {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 18;
}
.uni_promotion_align_center {
  text-align: center;
  align-items: center;
  .uni_promotion_top_text,
  .uni_promotion_terms {
    left: 50%;
    transform: translateX(-50%);
  }
}
.uni_promotion_align_left {
  text-align: left;
  align-items: flex-start;
  .uni_promotion__caption {
    align-items: flex-start;
  }
}
.uni_promotion_align_right {
  .uni_promotion_top_text,
  .uni_promotion_terms {
    left: 0;
    text-align: right;
    padding: 0 2rem;
    width: 100%;
  }
}
.uni_promotions_list {
  grid-auto-flow: row dense;
}
.uni_promotions_list {
  display: flex;
  flex-wrap: wrap;
}
.uni_promotion__caption {
  width: 100%;
}
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-uni-blocks-promo-slider {
  width: 100%;
  gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  .swiper-wrapper {
    display: flex;
    gap: 1rem;

    box-sizing: content-box;
  }

  .section-title-controls {
    display: flex;
    align-items: center;
  }
  .wr-next-prev-btn {
    position: relative;
    width: 115px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 50%;
    height: 42px;
    min-width: unset;
    width: 42px;
    background: transparent;
    border: 1px solid;
  }
  .swiper-button-next:after {
    font-size: 14px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
  }
  .swiper-button-prev:after {
    font-size: 14px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
  }
  .uni_title_provider {
    font-size: 2rem;
  }

  .inputFontSize {
    max-width: 60px;
  }
  .uni_provider img {
    width: 100%;
    object-fit: cover;
  }
}
.promo-swiper.swiper {
  width: 100%;
}

.wp-block-uni-blocks-promo-slider .uni_provider img {
  object-fit: contain !important;
}
.swiper-backface-hidden .swiper-slide {
  align-items: center;
  justify-content: center;
}
.wp-block-uni-blocks-promo-slider .uni_promotion_add {
  position: absolute !important;

  z-index: 555;
  width: 100%;
  left: 0;
  right: 0;
}
.wp-block-uni-blocks-promo-slider {
  margin-bottom: 151px;

  .uni_promotions_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
