.wp-block-uni-blocks-mobile-trigger {
  display: none;
}

.uni__mobile_menu_trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: 0.3s opacity;
}
.uni__mobile_menu_trigger img {
  object-fit: contain;
}
.uni__mobile_menu_trigger:hover {
  opacity: 0.85;
}

.uni_mobile__aside {
  left: -100%;
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  z-index: 200;
  transition: 0.3s left;
}

.uni_mobile__aside.active {
  left: 0;
}

@media (max-width: 768px) {
  .wp-block-uni-blocks-mobile-trigger {
    display: block;
  }
}
