/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.uni_promotion {

  img {
	width: 100%;
  }

  .uni_promotion__caption {
	width: 100%;
  }
}

.wp-block-uni-blocks-promo-column {
  max-width: 100%;
  margin: 0 auto
}

.uni_promotions_list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

}

.uni_promotion {
  position: relative;
  img {
	width: 100%;
	height: 150px;
	object-fit: cover;
  }
  .uni_remove_promotion {
	position: absolute;
	font-size: 12px;
	top: 10px;
	right: 10px;
	color: #DDDDDD;
	padding: 5px 10px;
	background-color: #0a4b78;

  }
  .uni_title {
	font-size: 18px;
  }
  .uni_description {
	font-size: 16px;
  }
  .uni_promotion_column {
	display: flex;
	box-sizing: border-box;
	align-items: flex-start;
	flex-direction: column;
	gap: .5rem;
	padding: 10px;
	overflow: hidden;
  }
}

.uni_promotion_align-left {
  .uni_promotion__caption {
	align-items: flex-start;
	text-align: left;
  }
}
.uni_promotion_align-center {
  .uni_promotion__caption {
	align-items: center;
	text-align: center;
  }
}

.uni_promotion_align-right {
  .uni_promotion__caption {
	align-items: flex-end;
	text-align: right;
  }
}
.uni_add_block {
  background: #DDDDDD;
  color: #222;
}

