/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.block-editor-block-list__block.wp-block-uni-blocks-footer-providers-slider {
  border: solid 1px;
  width: 100%;
  gap: 20px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.block-editor-block-list__block.wp-block-uni-blocks-footer-providers-slider .uni_section__title {
  width: 100%;
}
.block-editor-block-list__block.wp-block-uni-blocks-footer-providers-slider .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.block-editor-block-list__block.wp-block-uni-blocks-footer-providers-slider .uni_provider_admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: calc(25% - 20px);
}
.block-editor-block-list__block.wp-block-uni-blocks-footer-providers-slider .uni_provider_admin img {
  width: 100%;
  object-fit: contain;
}
.block-editor-block-list__block.wp-block-uni-blocks-footer-providers-slider .uni_upload_mage {
  flex-basis: 100%;
  background-color: rgba(128, 128, 128, 0.1215686275);
  width: 100%;
  max-width: 169px;
  height: 80px;
}
.block-editor-block-list__block.wp-block-uni-blocks-footer-providers-slider .uniProviderDelete {
  border: solid black 1px;
  color: black;
  background-color: white;
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 4px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-content {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 8px;
  padding: 0px;
}

.section-title-controls {
  opacity: 0;
}
