/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-uni-blocks-footer-providers-slider {
	width: 100%;
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	.swiper-wrapper {
		display: flex;
		gap: 1rem;
		box-sizing: content-box;
	}

	.wr_title_uni-win {
		display: flex;
		align-items: center;
	}

	.section-title-controls {
		display: flex;
		align-items: center;
	}
	.wr-next-prev-btn {
		position: relative;
		width: 115px;
	}
	.swiper-button-next,
	.swiper-button-prev {
		border-radius: 50%;
		height: 42px;
		min-width: unset;
		width: 42px;
		background: transparent;
		border: 1px solid;
	}
	.swiper-button-next:after {
		font-size: 14px !important;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 1;
		text-transform: none;
	}
	.swiper-button-prev:after {
		font-size: 14px !important;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 1;
		text-transform: none;
	}
	.uni_title_provider {
		font-size: 2rem;
	}

	.uni_title_provider {
		width: 100%;
		flex-basis: 100%;
	}
	.inputFontSize {
		max-width: 60px;
	}
	.uni_provider {
	  opacity: .85;
	  transition: .3s opacity;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  &:hover {
		opacity: 1;
	  }
	  img {
		width: 100%;
		object-fit: contain;
	  }
	}
}
.footer_provider.swiper {
	width: 100%;
}
