.uni_bet_slip {
  width: 100%;
  max-width: 640px !important;
}
.uni_bet_slip .bet_slip__head {
  display: flex;
  width: 100%;
  max-width: 100%;
}
.uni_bet_slip .bet_slip__head .tab {
  padding: 1rem;
  flex-basis: 50%;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.3s opacity;
}
.uni_bet_slip .bet_slip__head .tab:hover {
  opacity: 0.75;
}
.uni_bet_slip .bet_slip__head .tab.active {
  background: #fff;
}
.uni_bet_slip .bet_slip__body {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.3s opacity;
}
.uni_bet_slip .bet_slip__body:hover {
  opacity: 0.75;
}
.uni_bet_slip .bet_slip__body svg {
  width: 124px;
  height: 124px;
}
.uni_bet_slip .bet_slip__body .body_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.uni_bet_slip .bet_slip__footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.uni_bet_slip .bet_slip__footer .row {
  align-items: center;
  flex-grow: 1;
  flex-basis: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.uni_bet_slip .bet_slip__footer .inputLike {
  flex-basis: 200px;
  background: #DDDDDD;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uni_bet_slip .bet_slip__footer .btn {
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  width: 100%;
  transition: 0.3s opacity;
}
.uni_bet_slip .bet_slip__footer .btn:hover {
  opacity: 0.75;
}
