.uni_bet_slip {
  width: 100%;
  max-width: 640px !important;

  .bet_slip__head {
	display: flex;
	width: 100%;
	max-width: 100%;
	.tab {
	  padding: 1rem;
	  flex-basis: 50%;
	  flex-grow: 1;
	  justify-content: center;
	  display: flex;
	  align-items: center;
	  gap: .5rem;
	  text-transform: uppercase;
	  font-weight: bolder;
	  transition: .3s opacity;
	  &:hover {
		opacity: .75;
	  }
	}
	.tab.active {
	  background: #fff;
	}
  }
  .bet_slip__body {
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	transition: .3s opacity;

	&:hover {
	  opacity: .75;
	}
	svg {
	  width: 124px;
	  height: 124px;
	}
	.body_text {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  gap: .5rem;
	}
  }
  .bet_slip__footer {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding: 1rem;
	.row {
	  align-items: center;
	  flex-grow: 1;
	  flex-basis: 100%;
	  padding: .5rem 0;
	  display: flex;
	  justify-content: space-between;
	}
	.inputLike {
	  flex-basis: 200px;
	  background: #DDDDDD;
	  padding: .5rem;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	.btn {
	  padding: 1rem;
	  display: inline-flex;
	  justify-content: center;
	  align-items: center;
	  gap: 1rem;
	  font-weight: bolder;
	  text-transform: uppercase;
	  width: 100%;
	  transition: .3s opacity;
	  &:hover {
		opacity: .75;
	  }
	}
  }
}
