/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.uni_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  max-width: 650px;
  width: 100%;
}
.uni_form .uni_input__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.uni_form .input {
  width: 100%;
  padding: 10px;
}
