.wp-block-uni-blocks-footer-two-rows-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}
.wp-block-uni-blocks-footer-two-rows-collection .wp-block-image {
  flex-basis: 960px;
  flex-grow: 1;
  margin-bottom: 1rem;
}
.wp-block-uni-blocks-footer-two-rows-collection .wp-block-columns-is-layout-flex {
  width: 100%;
}
.wp-block-uni-blocks-footer-two-rows-collection .wp-block-column {
  flex-grow: 1;
}
