.block-editor-block-list__block.wp-block-uni-blocks-block-collections {
	.uni_remove_block_button {
		position: absolute;
		top: 5px;
		right: 5px;
		display: flex;
		align-items: center;
		justify-self: center;
		height: 25px;
		width: 25px;
		border-radius: 4px;
		border: solid 1px grey;
	}
	.swiper-slide {
		position: relative;
	}
	.swiper-wrapper {
		flex-wrap: wrap;
	}
	.collections-title-controls {
		display: none;
	}
	.add_elemnt_collection {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		width: 100%;
		background: #8080803b;
		padding: 10px;
	}
}
