.wp-block-uni-blocks-header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
  max-width: 100%;
  width: 100%;
}
.wp-block-uni-blocks-header-block .uni_logo_wrap {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.wp-block-uni-blocks-header-block .uni_logo {
  display: flex;
  align-items: center;
}
.wp-block-uni-blocks-header-block .uni_logo img {
  object-fit: contain;
}
.wp-block-uni-blocks-header-block .uni_menu_items {
  display: flex;
  align-items: center;
}
.wp-block-uni-blocks-header-block .uni_menu_items .uni_item {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  transition: 0.3s opacity;
}
.wp-block-uni-blocks-header-block .uni_menu_items .uni_item:hover {
  opacity: 0.85;
}
.wp-block-uni-blocks-header-block .uni_menu_items .uni_item img {
  object-fit: contain;
}
.wp-block-uni-blocks-header-block .uni_buttons {
  display: flex;
  align-items: center;
}
.wp-block-uni-blocks-header-block .uni_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: 0.3s opacity;
}
.wp-block-uni-blocks-header-block .uni_btn:hover {
  opacity: 0.85;
}
.wp-block-uni-blocks-header-block .uni_remove_block_button {
  position: static;
}

@media (max-width: 768px) {
  .uni_menu_items {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .wp-block-uni-blocks-header-block {
    flex-wrap: nowrap;
  }
  .wp-block-uni-blocks-header-block .btn {
    font-size: 12px !important;
    white-space: nowrap;
  }
  .uni_hide_on_mobile {
    display: none !important;
  }
}
@media (max-width: 540px) {
  .wp-block-uni-blocks-header-block .logo {
    display: block;
    padding: 0 0.5rem;
  }
  .wp-block-uni-blocks-header-block .logo img {
    width: 100%;
  }
}
